.works__container{
    background-color: white;
    padding-bottom: 100px;
}
.images__container{
    text-align: center;
    margin: 0px 170px;
    display: flex;
    justify-content: space-between;
}
.image__works{
    margin-top: 50px;
    box-shadow: 13px 12px 20px rgba(36, 0, 70, 0.63);
    border-radius: 10px;
}